<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../header %>
</head>
<body>
<center>
    <form>
        <table>
            <tr>
                <td>Name</td><td>:</td><td><input name="name" type="text" required autofocus="autofocus" title="User name" placeholder="user name"></td>
            </tr>
            <tr>
                <td>Email</td><td>:</td><td><input name="email" type="email" required autofocus="autofocus" title="User email" placeholder="user email"></td>
            </tr>
            <tr>
                <td>Gender</td><td>:</td>
                <td>
                    <select name="gender">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td><td></td><td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>